body{
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Source Serif Pro', serif;
}

.top-page{
  border-top: 20px;
  border-style:solid;
  padding-top:70px;
  background-color:#C2FFD9;
  position: relative;
}
.middle-container{
  margin: 50px auto 0px;

}

h2{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    padding-bottom: 10px;
}
h3{
  color: #11999E;
    font-family: 'Dancing Script', cursive;
}
.first_p{
  color: #66BFBF;
  font-size: 30px;
  font-weight: normal;
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Source Serif Pro', serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}

.span1{
  text-decoration: underline;
}
.cloud1{
  position: absolute;
  top:35px;
  left:820px;
}
.cloud2{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.profile-img{
  width: 15%;

}
.first-course{
  width: 25%;
  float: left;
  margin-right: 20px;


}
.second-course{
  width:25%;
  float: right;
  margin-left:20px;

}

.hr1{
  color: #EAF6F6;
  border-style: dotted none none;
  width: 4%;
  border-width: thick;
  margin:40px auto 50px auto;
}
.hr2{
  color: #EAF6F6 ;
  border-style: dotted none none;
  width: 4%;
  border-width: thick;
  margin: 100px auto 80px auto;
}
.fotter-link{
  margin: 20px;
}
.gamil-h3{
  line-height: 2;
}
.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
  background-image: -o-linear-gradient(top, #11cdd4, #1199e);
  background-image: linear-gradient(to bottom, #11cdd4, #1199e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1fcdd4 2px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
  margin: 50px 0px 0px;
  background-color: #66BFBF;
  padding: 50px 0px 5px ;
}
.copywrite{
  color:#EAF6F6;
  font-size:14px;
  padding: 20px 0px;
}
